<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.quickcopy.fucksociety"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCopy">

        <activity
            android:name=".ui.ConfiguratorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PopupActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCopy.Dialog" />

        <activity
            android:name=".ui.IconPickerActivity"
            android:exported="false" />

    </application>
</manifest>
